body { 
	margin: 0; padding: 0; font-size: 14px;
	background: #f2f5f7 url("../external/jquery-ui/images/ui-bg_highlight-hard_100_f2f5f7_1x100.png") repeat-x;
}

#wrapper{ margin: 0 auto; width: 980px; padding:10px; }

#cpuStatusWrapper{
	float: left;
	width: 100%;
	display: block;
	clear: both;
}

#cpuStatus{
	float: left;
	width: 100%;
	display: block;
	clear: both;
	padding:10px;
	background-color: #e2e5e7;
	border: 1px solid #fff;
}

.cpu-status-sections{
	width: 31%;
	float: left;
	display: inline-block;
}

#rpsValue{
	font-size: 4em;
	display: inline-block;
}

#logFileListWrapper{
	clear: both;
	float: left;
	width: 100%;
	display: block;
	margin: 30px 0;
}

#logFileList{
	display: block;
	width: 100%;
}
.file-item{
	display: block;
	width: 100%;
	border-top:1px solid #e2e5e7;
}

.file-item:nth-child(odd){
	background-color: #FFF;
}
.file-item:last-child{
	border-bottom: 1px solid #e2e5e7;
}
.table-col-heading{
	width:: 400px;
	text-align: left;
	font-weight: bold;
}
.file-item td {
	width: 400px;
}