{% extends "layout.html" %}
{% block title %}Home :: Server Status{% endblock %}

{% block head %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block content %}
	<h2>Server Status</h2>

	<div id="cpuStatusWrapper">
		<div id="cpuStatus">

			<section class="cpu-status-sections">	
				<span id="cpuGaugeContainer"></span>
			</section>

			<section class="cpu-status-sections">
				<span id="memoryGaugeContainer"></span>
			</section>

			<section id="rpsSection" class="cpu-status-sections">
				<h3>Requests Per Second</h3>
				<p id="rpsGuageContainer">
					<span id="rpsValue">0</span>
				</p>
			</section>
		</div>
	</div>

	<div id="logFileListWrapper">
		<h2>Message Files</h2>
		<table id="logFileList" cellpadding="10">
			<tr class="file-item table-col-heading">
				<td>File Name</td>
				<td>Date Modified</td>
			</tr>
		</table>
	</div>

{% endblock %}